.container {
  display: flex;
}

.panelleft {
  width: 20%;
  background-color: lightgray;
}

.panelright {
  border: 1px solid #ccc;
  width: 80%;
}

.link {
  display: block;
}

.topbanner {
  background-color: lightgray;
}

.breadcrumbs {
  background-color: lightgray;
  margin-bottom: 5px;
}

.crumb {
  margin-left: 10px;
  margin-right: 10px;
}
