.container {
  display: flex;
}

.panelleft {
  width: 20%;
  background-color: lightgray;
}

.panelright {
  border: 1px solid #ccc;
  width: 80%;
}

.link {
  display: block;
}

.topbanner {
  display: flex;
  align-items: center; /* Centers text vertically */
  background-color: lightgray;
  margin-bottom: 5px;
}
.topbanner > div:nth-child(1) {
  /* Styles for the first div child */
  width: 80%;
  color: red;
}

.breadcrumbs {
  background-color: lightgray;
  margin-bottom: 5px;
}

.crumb {
  margin-left: 10px;
  margin-right: 10px;
}
